footer
    height: 240px
    box-shadow: #BBB 1px 1px 10px
    padding-top: 50px
    .container
        display: flex
        .navigation
            width: 50%
            h2
                font-size: 18px
                font-weight: 500
            ul
                margin-left: 0
                list-style-type: none
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-template-rows: minmax(50px, auto)
                gap: 50px / 0
        .info-footer-block
            width: 50%